@use './theme-default.scss' as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.main {
  background-color: #{$background};
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main .tickerBanner {
  .styles_title__n7qOv {
    color: #F9F1CB;
  }
}

.main .heroBanner {
  height: 120vh;
  overflow: hidden;

  img.heroBackground {
    object-fit: cover;
    position: relative !important;
    transform: scale(1.2);
  }
  
  .heroTitleWrapper {
    position: absolute;
    top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      max-width: 1000px;
      position: relative !important;
    }
  }

  .heroFigureWrapper {
    position: absolute;
    top: 0;
    height: calc(120vh + 32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    img.heroFigure {
      position: relative !important;
      width: fit-content !important;
    }
  }

  .heroBookTitle {
    position: absolute;
    top: 0;
    right: 20%;
    height: calc(120vh + 32px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;

    .heroBookTitleInner {
      top: 18rem;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      
      img {
        position: relative !important;
        height: auto !important;
        width: 500px !important;
        
      }

      button {
        font-size: 1.25rem;
        font-weight: 600;
        width: 200px;
        border-radius: 5rem;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff275;
        margin-top: 2rem;
        padding: 0.5rem;
        cursor: pointer;
      }
      button:hover {
        background-color: #000;
      }
    }  
  }
}

@media screen and (max-width: 768px) {
  .main .heroBanner {
    height: 100vh;

    img.heroBackground {
      transform: scale(1);
    }

    .heroTitleWrapper {
      top: 4rem;

      img {
        max-width: 90%;
      }
    }

    .heroFigureWrapper {
      height: calc(100vh + 32px);

      img {
        left: 8rem !important;
      }
    }

    .heroBookTitle {
      right: auto;
      height: calc(100vh + 32px);

      .heroBookTitleInner {
        margin: 0 1rem;
        
        img {
          height: 100% !important;
          width: 100% !important;
        }
      }
    }
  }
}

.main .imageBanner {
  background-color: #{$black};
  padding: 2rem;
  display: flex;
  justify-content: center;

  img.imageBannerDesktop {
    max-width: 1000px;
    height: auto !important;
    position: relative !important;
  }

  img.imageBannerMobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .main .imageBanner {
    padding: 2rem 1rem;
    
    img.imageBannerDesktop {
      display: none;
    }
    img.imageBannerMobile {
      max-width: 1000px;
      height: auto !important;
      position: relative !important;
      display: block;
    }
  }
}


.main .videoPlayer {
  padding: 5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;

  .videoPlayerInner {
    z-index: 10;
    display: flex;
    margin: 3rem 2rem 0rem;
    flex-direction: column;
    align-items: center;

    .reactPlayer {
      max-width: 1000px;
    }
  }

  .playerBackground {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    opacity: 0.5;
    filter: brightness(0.5);

    img {
      height: auto !important;
      position: relative !important;
      object-fit: cover;
    }
  }

  .videoPlayerHeader {
    display: flex;
    justify-content: center;
    padding: 0 2rem;

    img {
      max-width: 1000px;
      height: auto !important;
      position: relative !important;
      left: -1.5rem !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .main .videoPlayer {
    padding: 3rem 0;

    .videoPlayerInner {
      margin: 1rem 2rem 0rem;
    }

    .signupBanner {
      margin: 2rem 2rem 3rem;

      p {
        font-size: 1rem;
        line-height: 2rem;
      }

      button {
        margin-top: 1rem;
        font-size: 1.15rem;
        padding: 1rem;
        width: 248px;
      }
    }

    .videoPlayerHeader {

      img {
        left: -0.5rem !important;
      }
    }
  }
}

.main .library {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 2rem 10rem;

  h3 {
    color: #{$white};
    font-size: 3rem;
    text-transform: uppercase;
    margin: 4rem 0 0;
    text-align: center;
  }

  .hr {
    height: 2px;
    width: 80%;
    max-width: 28rem;
    background-color: #{$primary};
    margin: 0.75rem 0 4rem;
  }

  .books {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 2rem;
    justify-content: center;

    .book {
      max-width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img.mysteryBook {
        border: 1px solid #d7d7d7;
      }

      .bookOverlay {
        position: absolute;
        height: 464px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
      }

      .bookOverlay:hover {
        opacity: 1;
      }

      .book-type {
        color: #{$primary};
        font-size: 1rem;
        margin-top: 1rem;
      }

      .book-title {
        color: #f2fedc;
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
        margin-top: 0.5rem;
      }

      .book-releaseDate {
        color: #EB5E5E;
        font-size: 2rem;
        font-weight: 700;
        line-height: 3rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main .library {
    margin: 4rem 2rem 4rem;

    h3 {
      margin: 1rem 0 0;
    }

    .books {

      .book {
        margin-bottom: 1rem;
      }
    }
  }
}



.main .signupBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 10rem;

  p {
    color: #{$white};
    font-size: 1.75rem;
    font-weight: 600;
    max-width: 650px;
    text-align: center;
    line-height: 3.25rem;
  }

  button {
    background-color: #{$primary};
    border: 0;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem 3rem;
    border-radius: 8px;
    cursor: pointer;
  }
  button:hover {
    opacity: 0.7;
  }
}

.main .reviewsBanner {
  background-color: #{$black};
  padding: 3rem 0;
  overflow: hidden;

  .reviewCard {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    .reviewCardCopy {
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 2rem;  
      color: #{$secondary};
      font-style: italic;
    }

    .reviewCardName {
      font-size: 1.5rem;
      color: #efefef;
      font-weight: 600;
    }
  }

  button { 
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .main .reviewsBanner {
    padding: 2rem 1rem;

    .reviewCard {
      .reviewCardCopy {
        text-align: center;
        font-size: 1.25rem;
        line-height: 1.85rem;
      }

      .reviewCardName {
        font-size: 1.2rem;
      }
    }
  }
}


.main .authorBanner {
  display: flex;
  height: 80vh;
  padding: 5rem;
  background-color: #fff;
  justify-content: center;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  .headshotWrapper {
    position: relative;
    height: 100%;
    left: -4rem;
    transition: all .05s;
    transform: translate(-20rem, 68%);

    img {
      position: absolute;
      height: auto !important;
      width: 900px !important;
      transform: rotate(14deg);
      filter: brightness(0.8);
    }
  }
  .headshotWrapper:hover {
    transform: translate(-5rem, 25%);
  }
  
  .authorBannerInner {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  
    .authorColumn {
      flex: 1;
      padding: 2rem;
      border-radius: 4px;
      background-color: rgb(0 0 0 / 30%);
      max-width: 500px;

      h2 {
        font-size: 2.5rem;
        color: #fff;
        text-decoration: underline;
      }

      p {
        font-size: 1.45rem;
        color: #fff;
        font-weight: 500;
        line-height: 2.35rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main .authorBanner {
    padding: 0;

    .headshotWrapper {
      display: none;
    }

    .authorBannerInner .authorColumn {
      max-width: 100%;
      background-color: rgba(0, 0, 0, 0.5);

      h2 {
        font-size: 2rem;
        text-align: center;
      }

      p {
        font-size: 1.35rem;
        line-height: 2.15rem;
        text-align: center;
      }
    }
  }
}

.main .contactFormContainer {
  display: flex;
  justify-content: center;
  margin: 5rem 1rem 8rem;

  .contactForm {
    max-width: 900px;

    h2 {
      font-size: 2.5rem;
      text-align: center;
      color: #{$white};
      text-transform: uppercase;
    }
  
    p {
      color: #{$white};
      line-height: 2rem;
      font-size: 1.35rem;
    }
  
    .contactFormInputWrapper {
      display: flex;
      margin-top: 2rem;
  
      input {
        border: 1px solid #{$white};
        height: 2rem;
        border-radius: 6px;
        width: 100%;
        padding: 0.25rem 1rem;
      }

      input.hasError {
        outline: 2px solid red;
      }
  
      button {
        background-color: #{$primary};
        color: #{$black};
        font-weight: 600;
        text-transform: uppercase;
        width: 200px;
        margin-left: 1rem;
        border: 0;
        border-radius: 6px;
        cursor: pointer;
        font-size: 1rem;
      }

      button.hasError {
        background-color: #ff3e3e;
      }

      button.hasSuccess {
        background-color: #75ff98;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main .contactFormContainer {
    margin: 1rem 2rem 3rem;
  
    .contactForm {
      h2 {
        font-size: 2rem;
      }

      p {
        line-height: 1.85rem;
        font-size: 1.15rem;
      }

      .contactFormInputWrapper {
  
        input {
          height: 2.5rem;
        }
    
        button {
          font-size: 1.15rem;
          padding: 1rem;
          width: 280px;
        }
      }
    }
  }
}

@media screen and (max-width: 560px) { 
  .main .contactFormContainer {
    margin: 2rem;
    
    .contactForm .contactFormInputWrapper {
      flex-direction: column;

      input {
        width: auto;
      }

      button {
        margin: 2rem 0;
        width: auto;
        padding: 1rem 1rem;
      }
    }
  }
}




.main {

  .nnr-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem 4rem 5rem;

    .nnr {
      display: flex;
      max-width: 1000px;

      .nnr-coverImage {
        position: flex;

        .saleSticker {
          position: absolute;
          transform: translate(-5rem, -6rem);
        }
      }

      .nnr-content {
        margin-left: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;

        h4 {
          color: #{$primary};
          font-weight: 400;
          font-size: 1.25rem;
          margin: 0 0 1rem;
        }

        h2 {
          color: #{$white};
          font-size: 2.5rem;
          margin: 0 0 1rem;
          font-style: italic;
        }

        .nnr-content-spread {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;

          p {
            color: #{$white};
            font-size: 1.25rem;
            line-height: 2rem;
          }

          .nnr-buttonWrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 1rem;

            button {
              background-color: #{$primary};
              color: #{$black};
              border: 0;
              font-weight: 600;
              font-size: 1.25rem;
              padding: 1rem 3rem;
              border-radius: 8px;
              cursor: pointer;
              width: 280px;
              margin-bottom: 0.25rem;
            }
            button:hover {
              opacity: 0.7;
            }
  
            p.nnr-promocode {
              font-size: 1rem;
              margin-top: 0;
              font-style: italic;
            }
          }
        }
      }
    }
  }
}

.react-responsive-modal-modal {
  max-width: 900px !important;

  .modalInner {
    display: flex;

    .mediaWrapperMobile {
      display: none;
    }

    .mediaWrapperDesktop {
      display: flex;
      align-items: center;
      position: relative;

      .iconCaretLeft {
        position: absolute;
        left: -1rem;
        cursor: pointer;
      }
      .iconCaretLeft:hover {
        filter: brightness(0.7);
      }

      .iconCaretRight {
        position: absolute;
        right: -1rem;
        cursor: pointer;
      }
      .iconCaretRight:hover {
        filter: brightness(0.7);
      }
    }

    .modalContent {
      flex: 1;
      margin-left: 3rem;
      display: flex;
      flex-direction: column;

      .superHeaderWrapper {
        display: flex;
        justify-content: space-between;
        margin-right: 2.5rem;
        align-items: center;

        .superheader {
          color: #f2fedc;
          text-transform: uppercase;
          font-weight: 700;
          line-height: 1.5rem;
        }

        .genre {
          border-radius: 8px;
          padding: 0.24rem 1rem;
          background-color: #94D3FF;
          border: 2px solid #000;
          font-weight: 600;
          min-width: fit-content;
        }
      }

      h2 {
        font-size: 2rem;
        color: #fff;
        margin: 1rem 0 0.5rem;
      }

      .contentBottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        p {
          color: #fff;
          line-height: 1.75rem;
        }
    
        .amazonWrapper {
          display: flex;
          justify-content: center;

          button {
            border: 0;
            background-color: #000;
            padding: 0.5rem 5rem 0.25rem;
            border-radius: 10rem;
            cursor: pointer;

            .orderNowCopy {
              color: #fff;
              margin-bottom: 0.25rem;
              font-size: 0.75rem;
            }
          }
          button:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

button.react-responsive-modal-closeButton svg {
  fill: #fff;
}



.faqWrapper {
  background-color: #{$background-light};
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem 5rem;

  h2 {
    color: #{$white};
    font-size: 2rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
  }

  .faqInner {
    max-width: 1000px;
    width: 100%;

    .faqTileContainer {


      .faqTile {
        background-color: #{$background};
        border: 1px solid #979797;
        padding: 1.25rem 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        
        .faqQuestion {
          color: #{$white};
          font-size: 1.25rem;
        }
  
        .faqIcon {
          background-color: transparent;
          border: 0;
          color: #{$white};
          font-size: 2rem;
        }
      }

      .faqBox {
        overflow: hidden;
        height: auto;
        transition: all 0.5s;

        .faqAnswer {
          background-color: #DCDCDC;
          padding: 1rem 1rem 2rem;
          border: 1px solid #f6f6f6;
          line-height: 24px;
        }
      }
    } 
  }
}



.footer {
  display: flex;
  align-items: center;
  padding: 4rem 1rem 3rem;
  background-color: #{$black};
  flex-direction: column;

  .socials {
    display: flex;

     a {
      margin: 1rem;

      img {
        width: 50px;
        height: 50px;
      }
     }
  }

  .hr {
    height: 2px;
    max-width: 100%;
    width: 600px;
    background-color: #434343;
    margin: 2.5rem 1rem 1rem;
  }

  p {
    color: #767676;
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 1000px) {
  .react-responsive-modal-modal {
    max-width: 90% !important;

    .modalInner .modalContent {
      margin-left: 2rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {

    .heroBanner {

    }
    
    .nnr-wrapper {
      margin: 3rem 1rem 5rem;

      .nnr {
        flex-direction: column;
        align-items: center;
        
        .nnr-content {
          margin: 2rem 0 0;

          h4 {
            text-align: center;
            font-weight: 700;
          }

          h2 {
            text-align: center;
          }

          .nnr-content-spread {
            align-items: center;

            p {
              text-align: justify;
            }

            .nnr-buttonWrapper {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;

              button {
                margin-top: 2rem;
                font-size: 1.15rem;
                padding: 1rem;
                width: 248px;
              }
  
              .nnr-promocode {
                font-size: 1rem;
                font-style: italic;
                margin-top: inherit;
              }
            }
          }
        } 
      }
    }
    
    .faqWrapper h2 {
      margin-bottom: 2rem;
    }

    .footer {
      padding: 2.5rem 1rem 1.5rem;

      .socials {
         a img {
          width: 40px;
          height: 40px;
         }
      }

      .hr {
        margin: 1rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }

  .react-responsive-modal-modal {
    max-width: 90% !important;
    margin: 0 !important;

    .react-responsive-modal-closeButton {
      top: 21px;
    }

    .modalInner {

      .mediaWrapperDesktop {
        display: none;
      }

      .mediaWrapperMobile {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .mediaWrapperMobile img:first-child {
        position: absolute;
        left: 0;
      }

      .mediaWrapperMobile img:last-child {
        position: absolute;
        right: 0;
      }

      .modalContent {
        margin: 0;

        h2 {
          text-align: center;
          margin: 2rem 0 1rem;
          text-transform: uppercase;
          font-size: 2.5rem;
        }
      }
    }
  }
}
